* {
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

#nav-bar {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content:space-around;
    padding-right: 50px;
    padding-left: 20px;
}

#itens {
    background-color: #f0740e;
    list-style: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5rem 0.9rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

#itens a {
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

li img {
    padding-top: 10px;
    margin-right: 800px;
}

.container-geral{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ff6347;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 60px;
}

.foto-do-pet img{
    display: flex;
    max-width: 100%;
    border-radius: 60px;
}

.text-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    max-width: 600px;
}

.text-container h2{
    margin-bottom: 15px;
    background-color: #ff6347;
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 30px;
    /* text-align: center; */
    text-align: justify;
}

.text-container p{
    line-height: 1.4;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #ff6347;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    text-align: justify;
    
}


