* {
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

#nav-bar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}

#itens {
    background-color: #ff6347;
    list-style: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 0.5rem 0.8rem;
    font-weight: bold;
    color: white;
}

#itens a {
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

li img {
    width: 80px;
    height: 81px;
    margin-right: 900px;
}
